@media only screen and (max-width: 600px) {
  #hero {
    h1 {
      font-size: 24px !important;
      line-height: 33px !important;
    }
  }

  #about {
    .about-wrap {
      .about-img {
        width: 60%;
        height: 200px;
      }
    }
  }

  #works {
    .works-wrap {
      .project-box {
        img {
          height: 220px;
        }
      }
    }
  }
}
