@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #101010;
  color: #afafaf;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

header {
  background-color: #0D0D0D;
}

header .header-left-info {
  position: fixed;
  bottom: 7%;
  left: 3%;
}

header .header-left-info p {
  font-size: 14px;
  line-height: 28px;
  color: #bbb;
}

header .header-right-info {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 7%;
  right: 3%;
  align-items: center;
}

header .header-right-info p {
  transform: rotate(90deg);
  margin-bottom: 3em;
  font-size: 15px;
  color: #afafaf;
}

header .header-right-info li {
  list-style: none;
  margin: .8em 0;
}

header .header-right-info li i {
  font-size: 1em;
  color: #afafaf;
  transition: .3s ease-in;
}

header .header-right-info li i:hover {
  color: #4BFFA5;
  transform: translateY(-0.2em);
}

header .header-right-info .standing-line-right {
  height: 3em;
  width: 1px;
  margin-bottom: 1em;
  background-color: #FFFFFF;
}

header nav {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: .7s ease-in-out;
  background-color: #0D0D0D;
  height: 20vh;
  padding: 0 3%;
  z-index: 999;
}

header nav .logo {
  position: relative;
  transition: .6s;
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav .logo a {
  color: #afafaf;
  font-weight: 700;
  font-size: 17px;
}

header nav .logo a span {
  color: #FFFFFF;
}

header nav .nav-links .nav-links-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}

header nav .nav-links .nav-links-wrap li {
  list-style: none;
  margin-left: 3rem;
}

header nav .nav-links .nav-links-wrap li a:hover {
  color: #FFFFFF;
}

header nav .nav-links .nav-links-wrap li a {
  color: #afafaf;
  font-weight: 700;
}

header nav .nav-links .nav-links-wrap li button a {
  color: #4BFFA5;
}

header nav .burger {
  display: none;
}

header nav .burger div {
  width: 30px;
  height: 2px;
  background-color: #FFFFFF;
  margin: 7px;
  transition: all 0.3s;
}

header .sticky {
  padding: 10px 5%;
}

#hero {
  height: 80vh;
  display: flex;
  align-items: center;
  padding: 0 2em;
}

#hero h1 {
  font-size: 44px;
  line-height: 61px;
  color: #FFFFFF;
  z-index: 999;
}

#hero h1 span {
  color: #4BFFA5;
}

main {
  padding: 3em 0;
}

#about {
  margin-bottom: 8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 999;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  background: #101010;
  position: relative;
  padding: 3em 2.5em;
}

#about .about-img {
  width: 22%;
  height: 180px;
  z-index: 999;
}

#about .about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#about .about-desc {
  width: 75%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  z-index: 999;
  font-size: 16px;
  line-height: 26px;
}

#about .about-desc .about-info-flex {
  display: flex;
  width: 100%;
}

#about .about-desc .about-info-flex .about-list {
  width: 50%;
  font-size: 16px;
  line-height: 26px;
}

#about .about-desc .about-info-flex .about-list ul {
  list-style: none;
}

#about .about-desc .about-info-flex .about-list ul li {
  margin-bottom: .2em;
}

#about .about-desc .about-info-flex .about-list ul span {
  color: #4BFFA5;
}

#knowledge {
  margin-bottom: 8em;
  padding: 2em 0;
}

#knowledge .knowledge-wrap {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 999;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  background: #101010;
  position: relative;
  padding: 3em 2.5em;
  width: 100%;
}

#knowledge .knowledge-wrap ul {
  width: 50%;
  list-style: none;
}

#knowledge .knowledge-wrap ul li {
  margin-bottom: .9em;
  color: #FFFFFF;
  font-weight: 500;
}

#knowledge .knowledge-wrap ul i {
  color: #4BFFA5;
  margin-right: .7em;
}

#work {
  padding: 2em 0;
}

#work .work-wrap {
  margin: 2em 0;
  width: 100%;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
}

#work .work-wrap h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 2em;
}

#work .work-wrap h3 span {
  color: #4BFFA5;
  font-family: "Roboto", sans-serif;
}

#work .work-wrap .project-wrap {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
  background-color: #101010;
  z-index: 999;
  padding: 3em 0;
  padding-left: 2.5em;
}

#work .work-wrap .project-wrap .image-project {
  width: 55%;
  min-height: 17em;
  z-index: 999;
}

#work .work-wrap .project-wrap .image-project img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#work .work-wrap .project-wrap .info-project {
  z-index: 999;
  background-color: #101010;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  width: 45%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2.5em;
}

#work .work-wrap .project-wrap .info-project h5 {
  font-size: 1.5em;
  margin-bottom: .5em;
  color: #FFFFFF;
}

#work .work-wrap .project-wrap .info-project .desc-project {
  font-family: "Roboto", sans-serif;
  padding: 1.2em;
  margin-bottom: 1em;
  border-radius: .1em;
  font-size: .95em;
  line-height: 1.45em;
}

#work .work-wrap .project-wrap .info-project .tech-use {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: .9em;
  margin-bottom: 1em;
  color: #4BFFA5;
  align-self: flex-end;
}

#work .work-wrap .project-wrap .info-project .tech-use p {
  margin: 0 1em;
  line-height: 1.7em;
  font-weight: bold;
}

#work .work-wrap .project-wrap .info-project .project-source {
  display: flex;
  justify-content: flex-end;
}

#work .work-wrap .project-wrap .info-project .project-source a {
  color: #afafaf;
  font-size: 1.5em;
  margin: 0 .5em;
}

#work .work-wrap .project-wrap .info-project .project-source a:hover {
  color: #4BFFA5;
}

#work .work-wrap .right-image {
  flex-direction: row-reverse;
}

#work .work-wrap .right-image .info-project {
  left: 0;
  text-align: left;
}

#work .work-wrap .right-image .info-project .tech-use {
  width: 70%;
  align-self: flex-start;
  justify-content: flex-start;
}

#work .work-wrap .right-image .info-project .project-source {
  justify-content: flex-start;
}

footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 950px) {
  nav .nav-links {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform .5s ease-in-out;
    z-index: 9;
  }
  nav .nav-links .nav-links-wrap {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  nav .nav-links .nav-links-wrap li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1em;
  }
  nav .nav-links .nav-links-wrap li a .number-nav {
    font-size: .9em;
  }
  nav .burger {
    display: block;
    cursor: pointer;
    z-index: 99;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

nav .nav-active {
  transform: translateX(0%);
}

nav .toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

nav .toggle .line2 {
  opacity: 0;
}

nav .toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.container {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.container-strip {
  width: 60%;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #242424;
  border-right: 1px solid #242424;
}

.container-strip:before {
  content: '';
  width: 1px;
  height: 100%;
  background: #242424;
  position: absolute;
  left: 30%;
  top: 0;
  z-index: 1;
}

.container-strip:after {
  content: '';
  width: 1px;
  height: 100%;
  background: #242424;
  position: absolute;
  right: 30%;
  top: 0;
  z-index: 1;
}

.container-strip-fluid {
  width: 95%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container-strip {
    width: 85%;
    margin: 0 auto;
  }
  .container-strip-fluid {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .container-strip {
    width: 85%;
    margin: 0 auto;
  }
  .container-strip-fluid {
    width: 95%;
    margin: 0 auto;
  }
}

.section-title {
  color: #FFFFFF;
  margin: 0 2em;
}

.btn-cv {
  color: #4BFFA5;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #4BFFA5;
  background: transparent;
  padding: .5em 1em;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  outline: none;
}

.btn-cv:hover {
  cursor: pointer;
  border: 2px solid #4BFFA5;
  color: #000;
}

.round {
  border-radius: 50%;
  background-color: #4BFFA5;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: -1;
  animation: scale-down 0.9s forwards;
}

.animate .round {
  animation: scale-up .9s forwards;
}

@keyframes scale-up {
  to {
    transform: scale(600);
  }
}

@keyframes scale-down {
  from {
    transform: scale(600);
  }
  to {
    ransform: scale(0);
  }
}
/*# sourceMappingURL=style.css.map */