@import 'config';

// Navigation Menu
header{
    background-color: $primary-color;
    .header-left-info{
        position: fixed;
        bottom: 7%;
        left: 3%;
        p{
            font-size: 14px;
            line-height: 28px;
            color: #bbb;
        }
    }
    .header-right-info{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 7%;
        right: 3%;
        align-items: center;
        p{
            transform: rotate(90deg);
            margin-bottom: 3em;
            font-size: 15px;
            color: $font-dark-color;
        }
        li{
            list-style: none;
            margin: .8em 0;
            i{
                font-size: 1em;
                color: $font-dark-color;
                transition: .3s ease-in;
            }
            i:hover{
                color: $second-color;
                transform: translateY(-.2em);
            }
        }
        .standing-line-right{
            height: 3em;
            width: 1px;
            margin-bottom: 1em;
            background-color: $font-light-color;
        }
    }
    nav{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        transition: .7s ease-in-out;
        background-color: $primary-color;
        height: 20vh;
        padding: 0 3%;
        z-index: 999;
        .logo{
            position: relative;
            transition: .6s;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                color: $font-dark-color;
                font-weight: 700;
                font-size: 17px;
                span{
                    color: $font-light-color;
                }
            }
            
        }
        .nav-links{
            .nav-links-wrap{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 16px;
                li{
                        list-style: none;
                        margin-left: 3rem;
                        a:hover{
                            color: $font-light-color;
                        }
                        a{
                            color: $font-dark-color;
                            font-weight: 700;
                        }
                        button{
                            a{
                                color: $second-color
                            }
                        }
                }
            }
        }
        .burger{
            display: none;
            div{
                width: 30px;
                height: 2px;
                background-color: $font-light-color;
                margin: 7px;
                transition: all 0.3s;
            }
        }
    }
    .sticky{
        padding: 10px 5%;
        // -webkit-box-shadow: 2px 2px 16px -4px rgba(238, 238, 238, 0.74);
        // -moz-box-shadow: 2px 2px 16px -4px rgba(238, 238, 238, 0.74);
        // box-shadow: 2px 2px 16px -4px rgba(238, 238, 238, 0.74);
    }
}
#hero{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 0 2em;
    h1{
        font-size: 44px;
        line-height: 61px;
        color: $font-light-color;
        z-index: 999;
        span{
            color: $second-color;
        }
    }
}

// Start main
main{
    padding: 3em 0;
}
// Start about
#about{
    margin-bottom: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 999;
    border-top: 1px solid #242424;
    border-bottom: 1px solid #242424;
    background: $body-color;
    position: relative;
    padding: 3em 2em;
    .about-img{
        width: 22%;
        height: 180px;
        z-index: 999;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .about-desc{
        width: 75%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1em;
        z-index: 999;
        font-size: 16px;
        line-height: 26px;
        .about-info-flex{
            display: flex;
            width: 100%;
            .about-list{
                width: 50%;
                font-size: 16px;
                line-height: 26px;
                ul{
                    list-style: none;
                    li{
                        margin-bottom: .2em;
                    }
                    span{
                        color: $second-color
                    }
                }
                
            }
        }
    }
}

// Start knowledge
#knowledge{
    margin-bottom: 7em;
    padding: 2em 0;
    .knowledge-wrap{
        margin: 2em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        z-index: 999;
        border-top: 1px solid #242424;
        border-bottom: 1px solid #242424;
        background: $body-color;
        position: relative;
        padding: 3em 2em;
        width: 100%;
        ul{
            width: 50%;
            list-style:none;
            li{
                margin-bottom: .9em;
                color: $font-light-color;
                font-weight: 500;
            }
            i{
                color: $second-color;
                margin-right: .7em;
            }
        }
    }
}

//Start work projects
#work{
    margin-bottom: 8em;
    padding-bottom: 2em;
    .archive-projects-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .work-wrap{
        margin: 2em 0;
        width: 100%;
        border-top: 1px solid #242424;
        border-bottom: 1px solid #242424;
        .project-wrap{
            width: 100%;
            display: flex;
            position: relative;
            flex-wrap: wrap;
            border-top: 1px solid #242424;
            border-bottom: 1px solid #242424;
            background-color: $body-color;
            z-index: 999;
            padding: 3em 0;
            padding-left: 2em;   
            .image-project{
                width: 55%;
                min-height: 17em;
                z-index: 999;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .info-project{
                z-index: 999;
                background-color:$body-color;
                min-height: 100%;
                width: 45%;
                text-align: right;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                padding-right: 2em;
                padding-left: 2em;
                h5{
                    font-size: 20px;
                    margin-bottom: 1em;
                    color: $font-light-color;
                }
                .desc-project{
                    font-family: $font-stack;
                    margin-bottom: 1em;
                    font-size: 16px;
                    line-height: 26px;
                }
                .tech-use{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;
                    font-family: $font-stack;
                    font-size: 16px;
                    margin-bottom: 1.5em;
                    color: $second-color;
                    font-weight: 500;
                    ul{
                        display: inline-flex;
                        list-style: none;
                        li{
                            margin-left: 1em;
                        }
                    }
                }
                .project-source{
                    display: flex;
                    justify-content: center;
                    a{
                        color: $font-dark-color;
                        font-size: 1.4em;
                        margin: 0 .3em;
                        color: $font-light-color;
                    }
                    a:hover{
                        color: $second-color;
                    }
                }
            }
        }
        .right-image{
            flex-direction: row-reverse;
            padding-right: 2em;
        }    
    }	
}

// Start contact
#contact{
    margin-bottom: 8em;
    .contact-wrap{
        margin: 2em 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: $body-color;
        grid-gap: 5em;
        .contact-box{
            z-index: 999;
            background-color: $body-color;
            border: 1px solid #242424;
            padding: 5em 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            i{
                font-size: 36px;
                line-height: 36px;
                color: $second-color;
                margin-bottom: .3em;
            }
            h5{
                color: $font-light-color;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: .4em;
            }
            p{
                text-align: center;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}

// Start footer
footer{
    .footer-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 8em;
        z-index: 999;
        border: 1px solid #242424;
    }
}
@import 'tablet';
@import 'mobile';
@import 'utilities';